<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Project</title>
</head>
<body>
Yeee {{ message }}

<h3>Programs offered</h3>
 <table border="1">
   {% for r in program_values %}
     <tr>
       <td>{{ r.title }}</td>
       <td>{{ r.branch }}</td>
     </tr>
   {% endfor %}
 </table>
<h3>Students' list</h3>
 <table border="1">
   {% for s in student_values %}
     <tr>
       <td>{{ s.name }}</td>
       <td>{{ s.roll_number }}</td>
       <td>{{ s.year }}</td>
       <td>{{ s.dob }}</td>
     </tr>
   {% endfor %}
 </table>
</body>
</html>